@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
body {
    font-family: "Open Sans", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.heading_container h2 span {
    color: #ffbe33;
}

.heading_container p {
    margin-top: 10px;
    margin-bottom: 0;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*header section*/

.hero_area {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.sub_page .hero_area {
    min-height: auto;
}

.sub_page .hero_area .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub_page .hero_area .bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right top;
    object-position: right top;
}

.header_section {
    padding: 15px 0;
    background-color: #101113;
    z-index: 1;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    padding-left: 18%;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #ffbe33;
}

.custom_nav-container .nav_search-btn {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    color: #ffffff;
    margin: 0 10px;
}

.custom_nav-container .nav_search-btn:hover {
    color: #ffbe33;
}

.user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user_option a {
    margin: 0 10px;
}

.user_option .user_link {
    color: #ffffff;
}

.user_option .user_link:hover {
    color: #ffbe33;
}

.user_option .cart_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user_option .cart_link svg {
    width: 17px;
    height: auto;
    fill: #ffffff;
    margin-bottom: 2px;
}

.user_option .cart_link:hover svg {
    fill: #ffbe33;
}

.user_option .order_online {
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.user_option .order_online:hover {
    background-color: #e69c00;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}


.header-admin { /* Header admin */ 
    color: #5bd0ff;
}
.header-admin:hover {
    color: #ffbe33;
}
.header-user { /* Header user */ 
    color: #0a49cf;
}
.header-user:hover {
    color: #ffbe33;
}


/*end header section*/


/* slider section */

.slider_section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section #customCarousel1 {
    width: 100%;
    position: unset;
}
.carousel-item {
    min-height: 390px;
}

.slider_section .detail-box {
    color: #ffffff;
    margin-bottom: 15px;
}

.slider_section .detail-box h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.slider_section .detail-box p {
    font-size: 14px;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 10px;
}

.slider_section .detail-box a:hover {
    background-color: #e69c00;
}

.slider_section .img-box img {
    width: 100%;
}

.slider_section .carousel-indicators {
    position: unset;
    margin: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .carousel-indicators li {
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
}

.slider_section .carousel-indicators li.active {
    width: 20px;
    height: 20px;
    background-color: #ffbe33;
}

.offer_section {
    position: relative;
    padding-top: 45px;
}

.offer_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #222831;
    color: #ffffff;
}

.offer_section .box .img-box {
    width: 175px;
    min-width: 175px;
    height: 175px;
    margin-right: 15px;
    position: relative;
    -webkit-transition: all 0.1 0.5s;
    transition: all 0.1 0.5s;
    border-radius: 100%;
    border: 5px solid #ffbe33;
    overflow: hidden;
}

.offer_section .box .img-box img {
    width: 100%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.offer_section .box .detail-box h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin: 0;
}

.offer_section .box .detail-box h6 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
}

.offer_section .box .detail-box h6 span {
    font-size: 2.5rem;
    font-weight: bold;
}

.offer_section .box .detail-box a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.offer_section .box .detail-box a:hover {
    background-color: #e69c00;
}

.offer_section .box .detail-box a svg {
    width: 20px;
    height: auto;
    margin-left: 5px;
    fill: #ffffff;
}

.offer_section .box:hover .img-box img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.food_section .filters_menu {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 45px 0 20px 0;
}

.food_section .filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
}

.food_section .filters_menu li.active {
    background-color: #222831;
    color: #ffffff;
}

.food_section .box {
    position: relative;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

.food_section .box .img-box {
    background: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
}

.food_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.food_section .box .detail-box {
    padding: 25px;
}

.food_section .box .detail-box h5 {
    font-weight: 600;
    height: 50px;
}

.food_section .box .detail-box p {
    font-size: 15px;
}

.food_section .box .detail-box h6 {
    margin-top: 10px;
}

.food_section .box .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.food_section .box .options a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ffbe33;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.food_section .box .options a svg {
    width: 18px;
    height: auto;
    fill: #ffffff;
}

.food_section .box:hover .img-box img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.food_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.food_section .btn-box a {
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.food_section .btn-box a:hover {
    background-color: #e69c00;
}

.about_section {
    background: #222831;
    color: #ffffff;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.about_section .img-box img {
    width: 100%;
    max-width: 445px;
    position: relative;
    z-index: 2;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    background-color: #e69c00;
}

.book_section {
    position: relative;
}

.book_section .heading_container {
    margin-bottom: 25px;
}

.book_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #000000;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.book_section .form_container .form-control::-webkit-input-placeholder {
    color: #222222;
}

.book_section .form_container .form-control:-ms-input-placeholder {
    color: #222222;
}

.book_section .form_container .form-control::-ms-input-placeholder {
    color: #222222;
}

.book_section .form_container .form-control::placeholder {
    color: #222222;
}

.book_section .form_container .nice-select .current {
    font-size: 16px;
}

.book_section .form_container button {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.book_section .form_container button:hover {
    background-color: #e69c00;
}

.book_section .map_container {
    width: 100%;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.book_section .map_container #googleMap {
    height: 100%;
    min-height: 100%;
    width: 100%;
}


/* client section start */

.client_section .heading_container {
    margin-bottom: 30px;
}

.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px;
}

.client_section .box .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 115px;
    position: relative;
    margin-top: 30px;
}

.client_section .box .img-box img {
    border-radius: 100%;
    border: 5px solid #ffbe33;
    position: relative;
}

.client_section .box .img-box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #ffbe33;
    -webkit-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
}

.client_section .box .detail-box {
    background-color: #222831;
    color: #ffffff;
    padding: 25px 25px 15px 25px;
    border-radius: 5px;
}

.client_section .box .detail-box h6 {
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 5px 0;
}

.client_section .box .detail-box p {
    margin-bottom: 0;
    font-size: 15px;
    margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
    padding: 0 15px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    background-color: #ffbe33;
    color: #ffffff;
    outline: none;
    bottom: 0px;
    font-size: 24px;
    margin: 0 5px;
    border-radius: 100%;
}


/* contacto */
/*imagen de horario*/
.horario{
    width: 100%;
    
}
.apertura{
    width: 100%;
    
}
/*datos de contacto*/
.contacto{
    text-align: center;
}
.datos-mapa{
    margin: 15px 100px;
    text-align: center;
    
}
.contact_section .heading_container {
    margin-bottom: 45px;
}

.contact_section .form_container .form-group {
    margin-bottom: 25px;
}

.contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 25px;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    color: #000000;
    border-radius: 5px;
}

.contact_section .form_container input::-webkit-input-placeholder {
    color: #222222;
}

.contact_section .form_container input:-ms-input-placeholder {
    color: #222222;
}

.contact_section .form_container input::-ms-input-placeholder {
    color: #222222;
}

.contact_section .form_container input::placeholder {
    color: #222222;
}

.contact_section .form_container input.message-box {
    height: 120px;
    border-radius: 5px;
}

.contact_section .form_container .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact_section .form_container button {
    margin-top: 10px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.contact_section .form_container button:hover {
    background-color: #e69c00;
}


/* footer section*/

.footer_section {
    background-color: #222831;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
}

.footer_section h4 {
    font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}

.footer_section p {
    color: #dbdbdb;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
}

.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
}

.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
}

.footer_section .footer_social a:hover {
    color: #ffbe33;
}

.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}


/*# sourceMappingURL=style.css.map */


/*INICIO CSS DE RESERVAS*/

.section {
    position: relative;
    height: 100vh;

}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#booking {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
}

#booking::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.booking-form {
    max-width: 642px;
    width: 100%;
    margin: auto;
}

.booking-form .form-header {
    text-align: center;
    margin-bottom: 25px;
}

.booking-form .form-header h1 {
    font-size: 58px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffc001;
    margin: 0px;
}

.booking-form>form {
    background-color: #101113;
    padding: 30px 20px;
    border-radius: 3px;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 15px;
}

.booking-form .form-control {
    background-color: #f5f5f5;
    border: none;
    height: 45px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
    color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
    color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
    color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
    color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 0px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #101113;
    font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.booking-form .form-label {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
}
.form-btn {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.booking-form .submit-btn {
    color: #101113;
    background-color: #ffc001;
    font-weight: 700;
    height: 50px;
    border: none;
    width: 285%;
    display: block;
    border-radius: 3px;
    text-transform: uppercase;
    width: 100%;
}
.enlace-mis-reservas{
    margin-left: 15px;
    margin-top: 15px;
}
.enlace-mis-reservas:hover {
    color: whitesmoke;
}


/*FIN DE CSS RESERVAS*/


/*INICIO ESTILOS DE LOGIN*/

.body-LogIn {
    background-image: linear-gradient(to top, rgba(160, 152, 176, 0.5) 0%, hsla(212, 41%, 83%, 0.51) 100%), url('../img/carnes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-LogIn {
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card {
    /* height: 525px; */
    margin-top: auto;
    margin-bottom: auto;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}


/*FIN DE ESTILOS EN LOGIN*/


/* ADMIN */

.admin-body {
    padding-top: 30px;
    padding-left: 68px;
}

#myChart{
    height: 400px;
    width: 400px;
}
.pedir{
    background-color: rgba(156, 18, 18,0.5);
}
.tabla{
    
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 45px;
    border: 2px solid black; 
    
}
.tabla_empleados{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.div_botones {
    display: flex;
}
.editar-empleado, .eliminar-empleado {
    width: min-content;
    color: whitesmoke;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;

}
.editar-empleado{
    background-color: rgb(70, 108, 165);
    margin-right: 5px;
}
.eliminar-empleado{
    background-color: rgb(165, 70, 70);
}
.cancelar-edicion {
    display: inline;
    background-color: rgb(165, 70, 70);
    color: whitesmoke;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
}
.cancelar-edicion:hover {
    background-color: rgb(248, 229, 229);
    color: black;
}

/* Gráficos */ 
.contenedor_admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.graficos {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.chartComensales, .chartIngresosGastos {
    min-width: 500px;
    /* max-width: 700px; */
    border: 2px solid rgb(214, 214, 214);
    margin-top: 15px;
    width: 100%;
}
.grupo {
    display: flex;
    width: 100%;
}
@media (max-width: 767px) {
    .grupo {
        flex-direction: column;
    }
}
.chartPlatos {
    width: 350px;
    text-align: center;
}

/* FIN ADMIN */


/* CARTA */
.menu_nav:hover {
    background-color:rgb(70, 108, 165);
    color: whitesmoke;
}
.nombre_plato {
    height: 40px;
}
@media (max-width: 767px) {

    .nombre_plato {
        height: 80px;
    }
}
@media (max-width: 575px) {

    .nombre_plato {
        height: 40px;
    }
}
@media (max-width: 380px) {

    .nombre_plato {
        height: 80px;
    }
}
/* CARTA */

/* PEDIDO */

.h1_pedido {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.carta {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.pedido-nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.pedido-nav-option {
    padding: 5px 8px;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
}
.pedido-nav-option:hover {
    color: brown;
}
.pedido-nav-option.active {
    background-color: brown;
    color: whitesmoke;
    
}
.form-pedido {
    margin-bottom: 40px;
}
.secciones {
    background-color: brown;
    color: whitesmoke;
    padding: 20px;
}

.td-nombre {
    width: 380px;
    height: 40px;
    font-weight: 600;
}
.td-cantidad {
    text-align: right;
    width: 170px;
}
.input-num-platos {
    width: 70px;
}
.envio {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.resumen {
    margin-top: 30px;
}
.tabla_resumen {
    width: 100%;
    /* margin: 20px; */
    /* border-collapse: collapse; */
    
}
.resumen_tbody tr:nth-child(odd){
    background-color: rgb(235, 235, 235);
}
.resumen_foot {
    border-top: 1px solid black;
}
.submit_pedido {
    display: block;
    width: 300px;
    height: 60px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #1a55d4;
    /* background-color: #3d74eb; */
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
.submit_pedido:hover {
    background-color: #129e51;
}
.h1ExitoPedido {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

/* FIN ADMIN */



/*INICIO ESTILOS INDEX ADMIN*/
/*Tabla Stock*/

.tabla {

    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid #999;
    margin: 40px auto;
    
}
.stock{
    text-align: center;
    
}
.numProd{
    text-align: center;
    width: 10%;
}
.descripcion{
    width: 70%;
    padding-left: 20px;
}

.cabecera{
    background-color: #999;
    color: black;

}
#celdas{
    border: 3px solid #999;
}
.pedir{
    background-color: #FFC312;
}
/*Fin tabla stock*/



:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #3b3b3a;
    --first-color-light: #FFC312;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    /*margin: var(--header-height) 0 0 0;*/
    /*padding: 0 1rem;*/
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    /* left: -30%; */
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.show {
    width: calc(var(--nav-width) + 156px)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}
.nav_link.active {
    color: var(--first-color-light);
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--white-color);
    transition: .3s;
    padding: 0;
    margin: 1.5rem;
    cursor: pointer;
}
.nav_link:hover {
    color: var(--first-color-light);
}

.nav_icon {
    font-size: 1.25rem;
    cursor: pointer;
}
.nav_icon.active {
    color: var(--first-color-light);
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    /*content: '';*/
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.height-100 {
    height: 100vh
}

.container-Body {
    margin-top: 15%;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .header_img {
        width: 40px;
        height: 40px
    }
    .header_img img {
        width: 45px
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }
    .show {
        width: calc(var(--nav-width) + 156px)
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


/*FIN ESTILOS INDEX ADMIN*/

.h2-usuario {
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
}
.menu-usuario {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(173, 173, 173);
    font-weight: bold;
}
.link-usuario {
    padding: 5px 40px;
    margin-bottom: 0;
    color: #0a49cf;
}
.link-usuario.selec {
    color: #e69c00;
}
.link-usuario:hover{
    background-color: #1a55d4;
    color: whitesmoke;
    cursor: pointer;
}
.link-usuario.selec:hover {
    background-color: white;
    color: #e69c00;
    cursor: initial;
}
.perfil {
    border: 2px solid rgb(139, 139, 139);
    border-radius: 5px;
    max-width: 500px;
    padding: 40px;
    margin: 50px auto;
}
.tabla-pedidos-usuario {
    border-collapse: collapse;
    border: 1px solid rgb(139, 139, 139);
    /* border-radius: 15px; */
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
}
.tabla-pedidos-usuario > thead {
    background-color: #1a55d4;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 15px;
}
.tabla-pedidos-usuario > tbody > tr {
    border-bottom: #737f91 1px solid;
    cursor: pointer;
}
.ver {
    background-color: rgba(18, 158, 81, .4);
}
.tabla-pedidos-usuario > tbody > tr:hover {
    background-color: rgba(255, 192, 1, .5);
}

#tablaPedido {
    background-color: rgba(230, 156, 0, .2);
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
    border: 1px solid #3b3b3a;
}
#tablaPedido > thead {
    background-color: #3b3b3a;
    color: whitesmoke;
}
#tablaPedido > tr {
    border-bottom: 1px solid #3b3b3a;
}
.tfood {
    /* background-color: white; */
    font-weight: bold;
    background-color: #a7a7a3;
}


.contenedor-reservas {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.lista-reservas {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /* margin: 60px auto; */
}
.div-reserva {
    border: 2px solid rgb(139, 139, 139);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    min-width: 250px;
}
.div-reserva.anterior {
    background-color: rgb(255, 247, 202);
}
.btn-usuario {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.editar {
    background-color:#e69c00;
    color: whitesmoke;
}
.anular {
    background-color: brown;
    color: whitesmoke;
}

.ocultar {
    display: none;
}